__pycache__/
*.pyc
.venv/
.env

data/uploads/*
data/processed/*
data/indexes/*
data/vector_store/*

!data/uploads/.gitkeep
!data/processed/.gitkeep
!data/indexes/.gitkeep

Code/frontend/node_modules/
Code/frontend/build/
Code/frontend/.env

.DS_Store
.vscode/
.idea/